[submodule "Vundle.vim"]
		path = ".vim/bundle/Vundle.vim"
		url = "https://github.com/gmarik/Vundle.vim.git"

[submodule "python-mode"]
		path = ".vim/bundle/python-mode"
		url = "https://github.com/klen/python-mode.git"

[submodule "haskellmode-vim"]
		path = ".vim/bundle/haskellmode-vim"
		url = "https://github.com/lukerandall/haskellmode-vim.git"

[submodule "c.vim"]
		path = ".vim/bundle/c.vim"
		url = "https://github.com/vim-scripts/c.vim.git"

[submodule "vim-airline"]
		path = ".vim/bundle/vim-airline"
		url = "https://github.com/bling/vim-airline.git"

[submodule "syntastic"]
		path = ".vim/bundle/syntastic"
		url = "https://github.com/scrooloose/syntastic.git"

[submodule "nerdtree"]
		path = ".vim/bundle/nerdtree"
		url = "https://github.com/scrooloose/nerdtree.git"

[submodule "vim-fugitive"]
		path = ".vim/bundle/vim-fugitive"
		url = "https://github.com/tpope/vim-fugitive.git"

#[submodule "vim-latex"]
#		path = ".vim/bundle/vim-latex"
#		url = "https://github.com/lervag/vim-latex.git"
[submodule "LaTeX-Box"]
		path = ".vim/bundle/LaTeX-Box"
		url = "https://github.com/LaTeX-Box-Team/LaTeX-Box.git"

[submodule "tagbar"]
		path = ".vim/bundle/tagbar"
		url = "https://github.com/majutsushi/tagbar.git"

[submodule "ctrlp.vim"]
		path = ".vim/bundle/ctrlp.vim"
		url = "https://github.com/kien/ctrlp.vim.git"
