[submodule "Vundle.vim"]
		path = ".vim/bundle/Vundle.vim"
		url = "https://github.com/gmarik/Vundle.vim"

[submodule "python-mode"]
		path = ".vim/bundle/python-mode"
		url = "https://github.com/klen/python-mode"

[submodule "haskellmode-vim"]
		path = ".vim/bundle/haskellmode-vim"
		url = "https://github.com/lukerandall/haskellmode-vim"

[submodule "c.vim"]
		path = ".vim/bundle/c.vim"
		url = "https://github.com/vim-scripts/c.vim"

[submodule "vim-airline"]
		path = ".vim/bundle/vim-airline"
		url = "https://github.com/bling/vim-airline"

