! -- scroll
xterm*scrollBar: false
xterm*rightScrollBar: false

! -- misc
! see https://lukas.zapletalovi.com/2013/07/hidden-gems-of-xterm.html
xterm*fullscreen: never
xterm*bellIsUrgent: true
xterm*on3Clicks: regex [^ \n]+
xterm*on4Clicks: regex '((ftp|http)s?|file)://([[:alnum:]._-~/?=@#+,!%])+'
! TODO throws warnings when doing xt
!xterm*translations: #override Shift <Btn1Up>: exec-formatted("qutebrowser --target tab '%t'", PRIMARY)

! -- font-rendering
Xft*antialias: true
Xft*autohint: true

xterm*faceName: DejaVu Sans Mono
xterm*utf8: 1
xterm*faceSize: 10
xterm*toolBar: off
xterm*transparent: true

! -- colours
xterm*background: #121212
xterm*foreground: #BBBBBB
xterm*cursorColor: #CCCCCC

!black
*color0:#000000
*color8:#666666
!red
*color1:#AA0000
*color9:#EE3333
!green
*color2:#339933
*color10:#66AA66
!yellow
*color3:#DDAA33
*color11:#EEBB55
!blue
*color4:#225577
*color12:#337799
!magenta
*color5:#AA1177
*color13:#DD2299
!cyan
*color6:#7788BB
*color14:#8899FF
!white
*color7:#DDDDDD
*color15:#FFFFFF
