# home
[into=~/,sudo=false]
.bashrc
.bash_aliases
.bash_prompt
.inputrc
.bash_profile
.vimrc
.vim
.i3
.Xresources
.xinitrc

# root
[into=/root/,sudo=true]
.bashrc
.bash_aliases
.bash_prompt
.inputrc
.bash_profile
.vimrc
.vim

# etc/X11/xorg.conf.d
[into=/etc/X11/xorg.conf.d/,sudo=true]
10-keyboard.conf
