# home
[into=~/,sudo=false]
.bashrc
.bash_aliases
.bash_prompt
.inputrc
.bash_profile
.vimrc
.vim
.latexmkrc
.Xresources
.xinitrc

# .config
[into=~/.config/i3/,sudo=false]
.config/i3/config
[into=~/.config/git/,sudo=false]
.config/git/config
[into=~/.config/dunst/,sudo=false]
.config/dunstrc
[into=~/.config/systemd/user/,sudo=false]
.config/gpg-agent.service
[into=~/.config/qutebrowser/,sudo=false]
.config/qutebrowser/config.py

# root
[into=/root/,sudo=true]
.bashrc
.bash_aliases
.bash_prompt
.inputrc
.bash_profile
.vimrc
.vim

# etc/X11/xorg.conf.d
[into=/etc/X11/xorg.conf.d/,sudo=true]
10-keyboard.conf

# etc/pacman.d/hooks
[into=/etc/pacman.d/hooks/,sudo=true]
pinentry.hook
paccache.hook
